<div id="map"></div>

<div id="test">
    <aside data-pushbar-id="left" data-pushbar-direction="left" class="sidebar-left pt-5"
        style="background-color: rgba(255, 255, 255, 0.445); backdrop-filter: blur(10px);"
        [ngStyle]="{'box-shadow':(boxShadow) ? '3px 1px 5px 0px rgba(0,0,0,0.75)' : '3px 1px 5px 0px rgba(0,0,0,0.40)'}"
        (click)="asideClicked()">

        <h3 class="list-title">Lista de trabajos</h3>
        <ul class="list-group">
            <li *ngFor="let job of markers" class="list-group-item" (click)="setJobb(job)">
                <img [src]="job.image" width="24" height="24" alt="img">
                {{job.title}}
            </li>
        </ul>

        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item" *ngIf="currentPage > 1">
                  <a class="page-link" (click)="jobsData('previous')" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only"></span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link">{{currentPage}}</a></li>
                <li class="page-item" *ngIf="pageSize != currentPage">
                  <a class="page-link" (click)="jobsData('next')" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only"></span>
                  </a>
                </li>
            </ul>
        </nav>

        <div class="container-fluid">
          <div class="row justify-content-center">
              <div class="col-12 text-center">
                <button class="btn btn-info mt-1" shape="round" data-pushbar-close (click)="showModal = !showModal">
                    Datos de usuario
                </button>
              </div>
              <div class="col-12 text-center">
                <button class="btn btn-danger mt-1" shape="round" data-pushbar-close>
                    Cerrar lista
                </button>
              </div>
              <div class="col-12 text-center">
                <button class="btn btn-warning mt-1" shape="round" data-pushbar-close (click)="loguot()">
                    Cerrar sesión
                </button>
              </div>
          </div>
        </div>
    </aside>

    <button class="btn btn-danger" (click)="boxShadow = !boxShadow" expand="block" fill="clear" shape="round"
        data-pushbar-target="left">
        Ver lista de trabajos
    </button>
</div>

<div id="modal" *ngIf="showModal">
  <app-profile (closeModal)="parentCloseModal($event)"></app-profile>
</div>